In [227]:
import numpy as np
class LabourDataset:
    def __init__(self, attr_file, f1, f2):
        self.f1 = f1
        self.f2 = f2
        self.attr_file = attr_file
        self.attr_df = self.get_attr()
        self.pre_df = self.pre_process()
        self.X, self.y = self.feature_engineer()
        # self.X, self.y = self.get_Xy()
    def get_attr(self):
        df = pd.read_excel(attr_file).drop(columns = ["index"])
        df["feature_name"] = df["feature_name"].apply(lambda x: x.split(".")[0])
        self.col_name = df["feature_name"].tolist()
        return df
    def read_examples(self, file):
        def parse(lines, label_txt, label):
            elemd = {}
            c = True
            for line in lines:
                if line.startswith(label_txt):
                    c = False
                if c: continue
                if line.startswith("#") or line.startswith(label_txt):
                    continue
                elif line.strip(" ")=="\n":
                    c = True
                    continue
                else:
                    splitted = line.split()
                    elemd.setdefault(splitted[0],[label]).extend(splitted[1:])
            return elemd
        # processing uci dataset
        with open(file, "r") as f:
            lines = f.readlines()
            neg_arr = {}
            pos_arr = {}

            pos_arr = parse(lines, 'good-events', 1)
            neg_arr = parse(lines, 'bad-events', 0)
        return pos_arr, neg_arr
    
    def feature_engineer(self):
        # replace all missing values with np.nan
        self.pre_df.replace('*',np.nan, inplace=True)
        cat_features = self.attr_df.loc[self.attr_df['type']=='categorical']['feature_name'].to_list()
        bin_features = self.attr_df.loc[self.attr_df['type']=='boolean']['feature_name'].to_list()
        cont_features = self.attr_df.loc[self.attr_df['type']=='continuous']['feature_name'].to_list()
        nom_features = cat_features+bin_features
        df_cvt = pd.get_dummies(data=self.pre_df[nom_features], columns=nom_features)
        # replace 1 with 0.2
        df_cvt.replace(1, 0.2, inplace=True)
        df_num = self.pre_df[cont_features].astype(float)
        df_label =  self.pre_df['label']
        # replace nan with avg
        df_num.fillna(df_num.mean(), inplace=True)
        # concat them
        X = pd.concat([df_cvt, df_num], axis='columns')
        y = df_label.astype(int).values.ravel()
        return X,y
    def pre_process(self):
        df1 = pd.read_excel(self.attr_file).drop(columns = ["index"])
        df1["feature_name"] = df1["feature_name"].apply(lambda x: x.split(".")[0])
        p1, n1 = self.read_examples(file=self.f1)
        p2, n2 = self.read_examples(file=self.f2)
        combined = list(p1.values()) + list(n1.values()) + list(p2.values()) + list(n2.values())
        self.col_name.insert(0,'label')
        cols = self.col_name
        df2 = pd.DataFrame(data=combined, columns = cols)
        return df2

In [228]:
train_file = "../data/labour_negotiations_train.txt"
test_file = "../data/labour_negotiations_test.txt"
attr_file = "../data/labour_negotiations_attributes.xlsx"
ds = LabourDataset(attr_file, train_file, test_file)
# print(ds.pre_df)

,cola_none,cola_tc,cola_tcf,pension_empl_contr,pension_none,pension_ret_allw,vacation_avg,vacation_ba,vacation_gnr,dntl_ins_full,...,bereavement_false,bereavement_true,dur,wage1,wage2,wage3,hours,stby_pay,shift_diff,holidays
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,...,0.0,0.2,2.000000,3.000000,7.000000,3.913333,38.000000,12.000000,25.000000,11.00000
1,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.0,...,0.0,0.0,2.000000,4.000000,5.000000,3.913333,35.000000,13.000000,5.000000,15.00000
2,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.2,0.0,0.2,...,0.0,0.0,2.000000,4.500000,5.800000,3.913333,35.000000,7.444444,4.870968,11.00000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,...,0.0,0.0,2.000000,7.000000,5.300000,3.913333,38.039216,7.444444,4.870968,11.00000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2,...,0.0,0.0,2.000000,4.300000,4.400000,3.913333,38.000000,7.444444,4.000000,12.00000
5,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.2,3.000000,3.700000,4.000000,5.000000,38.039216,7.444444,4.870968,11.09434
6,0.0,0.2,0.0,0.2,0.0,0.0,0.0,0.0,0.2,0.0,...,0.0,0.2,3.000000,4.000000,5.000000,5.000000,38.039216,7.444444,4.870968,12.00000
7,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.2,0.0,0.0,...,0.0,0.0,2.000000,4.500000,4.500000,3.913333,38.039216,7.444444,4.870968,10.00000
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,...,0.0,0.0,1.000000,2.800000,3.971739,3.913333,35.000000,7.444444,2.000000,12.00000
9,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,...,0.0,0.2,1.000000,5.000000,3.971739,3.913333,40.000000,7.444444,2.000000,11.00000
10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,...,0.0,0.0,3.000000,6.900000,4.800000,2.300000,40.000000,7.444444,3.000000,12.00000
11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,...,0.0,0.0,2.000000,6.400000,6.400000,3.913333,38.000000,7.444444,4.000000,15.00000
12,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,...,0.0,0.0,2.000000,2.000000,2.500000,3.913333,35.000000,7.444444,6.000000,12.00000
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,...,0.0,0.0,1.000000,6.000000,3.971739,3.913333,38.000000,8.000000,3.000000,9.00000
14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.2,...,0.0,0.2,3.000000,6.000000,6.000000,4.000000,35.000000,7.444444,14.000000,9.00000
15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,...,0.0,0.0,2.000000,4.500000,4.000000,3.913333,40.000000,7.444444,4.000000,10.00000
16,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,...,0.0,0.2,3.000000,5.000000,5.000000,5.000000,40.000000,7.444444,4.870968,12.00000
17,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.000000,4.600000,4.600000,3.913333,38.000000,7.444444,4.870968,11.09434
18,0.2,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.2,0.0,...,0.0,0.2,2.000000,2.000000,3.000000,3.913333,38.000000,7.444444,4.870968,12.00000
19,0.2,0.0,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,...,0.2,0.0,1.000000,4.000000,3.971739,3.913333,38.039216,7.444444,4.870968,11.00000
20,0.0,0.2,0.0,0.0,0.2,0.0,0.0,0.2,0.0,0.0,...,0.0,0.2,3.000000,3.000000,2.000000,2.500000,40.000000,7.444444,5.000000,10.00000
21,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.2,0.0,0.0,...,0.0,0.0,2.000000,2.500000,3.000000,3.913333,40.000000,7.444444,4.870968,11.00000
22,0.0,0.0,0.0,0.2,0.0,0.0,0.2,0.0,0.0,0.0,...,0.0,0.0,2.000000,2.500000,2.500000,3.913333,38.000000,7.444444,4.870968,10.00000
23,0.2,0.0,0.0,0.0,0.2,0.0,0.0,0.2,0.0,0.0,...,0.0,0.0,2.000000,4.000000,5.000000,3.913333,40.000000,7.444444,3.000000,10.00000
24,0.2,0.0,0.0,0.2,0.0,0.0,0.0,0.2,0.0,0.0,...,0.0,0.0,1.000000,2.800000,3.971739,3.913333,38.000000,2.000000,3.000000,9.00000
25,0.0,0.0,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,...,0.0,0.2,3.000000,2.000000,2.500000,3.913333,35.000000,7.444444,4.870968,10.00000
26,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,...,0.0,0.0,2.000000,4.500000,4.000000,3.913333,40.000000,7.444444,2.000000,10.00000
27,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,...,0.0,0.2,2.000000,3.000000,3.000000,3.913333,33.000000,7.444444,4.870968,12.00000
28,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.2,...,0.0,0.2,2.000000,5.000000,4.000000,3.913333,37.000000,7.444444,5.000000,11.00000
29,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,...,0.0,0.0,3.000000,4.500000,4.500000,5.000000,40.000000,7.444444,4.870968,11.00000
30,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,...,0.0,0.0,1.000000,3.000000,3.971739,3.913333,36.000000,7.444444,10.000000,11.00000
31,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.2,...,0.0,0.2,3.000000,3.500000,4.000000,5.100000,37.000000,7.444444,4.000000,13.00000
32,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.000000,3.500000,4.000000,4.600000,27.000000,7.444444,4.870968,11.09434
33,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.0,...,0.0,0.2,3.000000,3.500000,4.000000,4.500000,35.000000,7.444444,4.870968,13.00000
34,0.2,0.0,0.0,0.0,0.0,0.2,0.2,0.0,0.0,0.2,...,0.0,0.2,2.000000,5.700000,4.500000,3.913333,40.000000,7.444444,4.870968,11.00000
35,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.2,...,0.0,0.2,2.000000,4.500000,4.000000,3.913333,40.000000,7.444444,4.000000,12.00000
36,0.2,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.2,...,0.0,0.2,2.000000,4.500000,4.000000,3.913333,40.000000,7.444444,5.000000,11.00000
37,0.2,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.2,0.2,...,0.0,0.0,1.000000,5.700000,3.971739,3.913333,40.000000,7.444444,4.000000,11.00000
38,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,...,0.0,0.2,3.000000,3.500000,4.000000,4.600000,36.000000,7.444444,3.000000,13.00000
39,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,0.0,...,0.0,0.2,3.000000,4.500000,4.500000,5.000000,40.000000,7.444444,4.870968,12.00000
40,0.2,0.0,0.0,0.2,0.0,0.0,0.2,0.0,0.0,0.2,...,0.0,0.2,2.000000,4.500000,4.000000,3.913333,37.000000,7.444444,4.870968,11.00000
41,0.0,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.2,0.0,...,0.0,0.2,2.160714,3.803571,3.971739,3.913333,38.000000,7.444444,5.000000,11.00000
42,0.2,0.0,0.0,0.2,0.0,0.0,0.0,0.0,0.2,0.0,...,0.0,0.0,3.000000,5.000000,4.400000,3.913333,38.000000,10.000000,6.000000,11.00000
43,0.0,0.0,0.2,0.2,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.2,3.000000,2.000000,3.000000,3.913333,38.039216,7.444444,4.870968,11.09434
44,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,...,0.0,0.0,2.000000,5.000000,4.500000,3.913333,38.000000,14.000000,5.000000,11.00000
45,0.2,0.0,0.0,0.2,0.0,0.0,0.2,0.0,0.0,0.2,...,0.0,0.0,3.000000,4.000000,3.500000,3.913333,40.000000,7.444444,6.000000,11.00000
46,0.2,0.0,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,...,0.0,0.2,2.000000,2.000000,2.000000,3.913333,40.000000,7.444444,4.870968,11.00000
47,0.2,0.0,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.0,...,0.2,0.0,1.000000,2.000000,3.971739,3.913333,38.000000,7.444444,4.870968,11.00000
48,0.0,0.2,0.0,0.0,0.2,0.0,0.0,0.2,0.0,0.0,...,0.0,0.2,3.000000,2.000000,2.500000,2.100000,40.000000,2.000000,1.000000,10.00000
49,0.0,0.0,0.2,0.0,0.2,0.0,0.0,0.2,0.0,0.0,...,0.0,0.2,2.000000,2.500000,3.000000,3.913333,40.000000,7.444444,4.870968,11.00000
50,0.0,0.2,0.0,0.2,0.0,0.0,0.2,0.0,0.0,0.0,...,0.0,0.2,2.000000,2.500000,2.500000,3.913333,39.000000,7.444444,4.870968,12.00000
51,0.2,0.0,0.0,0.0,0.2,0.0,0.0,0.2,0.0,0.0,...,0.0,0.0,2.000000,4.000000,4.000000,3.913333,40.000000,7.444444,3.000000,10.00000
52,0.0,0.2,0.0,0.0,0.0,0.2,0.0,0.2,0.0,0.0,...,0.0,0.0,1.000000,2.100000,3.971739,3.913333,40.000000,2.000000,3.000000,9.00000
53,0.0,0.0,0.0,0.2,0.0,0.0,0.2,0.0,0.0,0.0,...,0.0,0.2,3.000000,2.000000,2.500000,2.000000,37.000000,7.444444,4.870968,10.00000
54,0.2,0.0,0.0,0.0,0.0,0.0,0.0,0.2,0.0,0.0,...,0.0,0.0,2.000000,3.500000,4.000000,3.913333,40.000000,7.444444,2.000000,10.00000
55,0.0,0.2,0.0,0.0,0.0,0.2,0.0,0.0,0.2,0.0,...,0.2,0.0,1.000000,2.000000,3.971739,3.913333,40.000000,4.000000,0.000000,11.00000
56,0.2,0.0,0.0,0.0,0.2,0.0,0.0,0.2,0.0,0.0,...,0.0,0.2,3.000000,2.000000,2.000000,2.000000,40.000000,7.444444,4.870968,10.00000

In [6]:
import pandas as pd
df = pd.read_excel('../data/labour_negotiations_attributes.xlsx').drop(columns = ["index"])
df["feature_name"] = df["feature_name"].apply(lambda x: x.split(".")[0])

      feature_name         type  num_features
0              dur   continuous             1
1            wage1   continuous             1
2            wage2   continuous             1
3            wage3   continuous             1
4             cola  categorical             3
5            hours   continuous             1
6          pension  categorical             3
7         stby_pay   continuous             1
8       shift_diff   continuous             1
9        educ_allw      boolean             2
10        holidays   continuous             1
11        vacation  categorical             3
12  lngtrm_disabil      boolean             2
13        dntl_ins  categorical             3
14     bereavement      boolean             2
15      empl_hplan  categorical             3

In [131]:
combined = list(pos_arr.values()) + list(neg_arr.values())

In [132]:
cols = df["feature_name"].tolist().insert(0,'label')
df2 = pd.DataFrame(data=combined, columns = cols)
df2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,1,2,3.0,3.0,*,none,33,*,*,*,true,12,gnr,*,*,true,full
1,1,2,5.0,4.0,*,none,37,*,*,5,false,11,ba,true,full,true,full
2,1,3,4.5,4.5,5.0,none,40,*,*,*,false,11,avg,*,half,*,*
3,1,1,3.0,*,*,none,36,*,*,10,false,11,gnr,*,*,*,*
4,1,3,3.5,4.0,5.1,tcf,37,*,*,4,*,13,gnr,*,full,true,full
5,1,3,3.5,4.0,4.6,tcf,27,*,*,*,*,*,*,*,*,*,*
6,1,3,3.5,4.0,4.5,tcf,35,*,*,*,*,13,gnr,*,*,true,full
7,1,2,5.7,4.5,*,none,40,ret_allw,*,*,*,11,avg,true,full,true,full
8,1,2,4.5,4.0,*,none,40,*,*,4,*,12,avg,true,full,true,half
9,1,2,4.5,4.0,*,none,40,*,*,5,*,11,avg,*,full,true,full
10,1,1,5.7,*,*,none,40,empl_contr,*,4,*,11,gnr,true,full,*,*
11,1,3,3.5,4.0,4.6,none,36,*,*,3,*,13,gnr,*,*,true,full
12,1,3,4.5,4.5,5.0,*,40,*,*,*,*,12,avg,*,half,true,half
13,1,2,4.5,4.0,*,none,37,empl_contr,*,*,*,11,avg,*,full,true,*
14,1,*,*,*,*,*,38,empl_contr,*,5,*,11,gnr,true,half,true,half
15,1,3,5.0,4.4,*,none,38,empl_contr,10,6,*,11,gnr,true,*,*,full
16,1,3,2.0,3.0,*,tcf,*,empl_contr,*,*,true,*,*,true,half,true,*
17,1,2,5.0,4.5,*,none,38,*,14,5,*,11,ba,true,*,*,full
18,1,3,4.0,3.5,*,none,40,empl_contr,*,6,*,11,avg,true,full,*,full
19,0,2,2.0,2.0,*,none,40,none,*,*,false,11,avg,true,none,true,full
20,0,1,2.0,*,*,none,38,none,*,*,true,11,avg,false,none,false,none
21,0,3,2.0,2.5,2.1,tc,40,none,2,1,false,10,ba,false,half,true,full
22,0,2,2.5,3.0,*,tcf,40,none,*,*,*,11,ba,*,*,true,*
23,0,2,2.5,2.5,*,tc,39,empl_contr,*,*,*,12,avg,*,*,true,*
24,0,2,4.0,4.0,*,none,40,none,*,3,*,10,ba,false,none,*,none
25,0,1,2.1,*,*,tc,40,ret_allw,2,3,false,9,ba,true,half,*,none
26,0,3,2.0,2.5,2.0,*,37,empl_contr,*,*,*,10,avg,*,*,true,none
27,0,2,3.5,4.0,*,none,40,*,*,2,false,10,ba,false,half,*,half
28,0,1,2.0,*,*,tc,40,ret_allw,4,0,false,11,gnr,false,none,false,none
29,0,3,2.0,2.0,2.0,none,40,none,*,*,*,10,ba,*,half,true,full

In [232]:
df = pd.read_csv('../data/uci_heart_disease.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2,1
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2,1
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2,1
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2,1

In [235]:
class HeartDiseaseDataset:
    def __init__(self, attr_file, f1):
        self.f1 = f1
        self.attr_file = attr_file
        self.attr_df = self.get_attr()
        self.pre_df = self.pre_process()
        self.X, self.y = self.feature_engineer()

    def get_attr(self):
        df = pd.read_excel(self.attr_file).drop(columns = ["index"])
        df["feature_name"] = df["feature_name"].apply(lambda x: x.split(".")[0])
        self.col_name = df["feature_name"].tolist()
        return df
    
    def feature_engineer(self):
        # replace all missing values with np.nan
        cat_features = self.attr_df.loc[self.attr_df['type']=='categorical']['feature_name'].to_list()
        bin_features = self.attr_df.loc[self.attr_df['type']=='boolean']['feature_name'].to_list()
        cont_features = self.attr_df.loc[self.attr_df['type']=='continuous']['feature_name'].to_list()
        # binarize categorical features
        df_cat = pd.get_dummies(data=self.pre_df[cat_features], columns=cat_features)
        df_bin = self.pre_df[bin_features]
        df_num = self.pre_df[cont_features].astype(float)
        df_label =  self.pre_df['label']
        X = pd.concat([df_cat, df_bin, df_num], axis='columns')
        y = df_label.astype(int).values.ravel()
        return X,y

    def pre_process(self):
        dfd = pd.read_csv(self.f1)
        dfd.rename(columns = {'condition':'label'}, inplace = True)
        return dfd
    
    def normalize(self, train_x, test_x, norm = 'min-max'):
        if norm == 'min-max':
            scalar = MinMaxScaler()
        else:
            scalar = StandardScaler()
        scalar.fit(train_x)
        train_x, test_x = scalar.transform(train_x), scalar.transform(test_x)
        return train_x, test_x

    def get_hold_out_splits(self, X, y, params):
        train_x, test_x, train_y, test_y = train_test_split(X, y, stratify=y, test_size=params['splits'], random_state=3)
        train_xn, test_xn = self.normalize(train_x, test_x)
        train_x = pd.DataFrame(train_xn, columns=train_x.columns, index=train_x.index)
        test_x = pd.DataFrame(test_xn, columns=test_x.columns, index=test_x.index)
        yield train_x, test_x, train_y, test_y

    def get_k_fold_splits(self, X, y, params):
        stf_fold = StratifiedKFold(n_splits=params['folds'], random_state=3, shuffle=True)
        for train_ind, test_ind in stf_fold.split(X,y):
            train_x, test_x = X.iloc[train_ind], X.iloc[test_ind]
            train_y, test_y = y[train_ind], y[test_ind]
            train_xn, test_xn = self.normalize(train_x, test_x)
            train_x = pd.DataFrame(train_xn, columns=train_x.columns, index=train_x.index)
            test_x = pd.DataFrame(test_xn, columns=test_x.columns, index=test_x.index)
            yield train_x, test_x, train_y, test_y

    # return train and test splits
    def create_splits(self, method, params):
        if method == 'hold-out':
            splits = self.get_hold_out_splits(self.X,self.y,params)
        elif method == 'k-fold':
            splits = self.get_k_fold_splits(self.X,self.y,params)
        else:
            raise Exception(f'Data split {method} not defined')

        return splits

In [237]:
ds = HeartDiseaseDataset(attr_file='../data/uci_heart_disease_attributes.xlsx',
                        f1='../data/uci_heart_disease.csv')

In [241]:
ds.X

,cp_0,cp_1,cp_2,cp_3,restecg_0,restecg_1,restecg_2,slope_0,slope_1,slope_2,...,thal_2,sex,fbs,exang,age,trestbps,chol,thalach,oldpeak,ca
0,1,0,0,0,0,0,1,0,1,0,...,0,1,1,0,69.0,160.0,234.0,131.0,0.1,1.0
1,1,0,0,0,1,0,0,1,0,0,...,0,0,0,0,69.0,140.0,239.0,151.0,1.8,2.0
2,1,0,0,0,1,0,0,0,0,1,...,0,0,0,0,66.0,150.0,226.0,114.0,2.6,0.0
3,1,0,0,0,0,0,1,0,1,0,...,0,1,1,0,65.0,138.0,282.0,174.0,1.4,1.0
4,1,0,0,0,0,0,1,0,1,0,...,0,1,0,1,64.0,110.0,211.0,144.0,1.8,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,0,0,0,1,1,0,0,1,0,0,...,1,1,0,0,40.0,152.0,223.0,181.0,0.0,0.0
293,0,0,0,1,1,0,0,0,1,0,...,1,1,0,0,39.0,118.0,219.0,140.0,1.2,0.0
294,0,0,0,1,1,0,0,0,1,0,...,1,1,0,1,35.0,120.0,198.0,130.0,1.6,0.0
295,0,0,0,1,1,0,0,1,0,0,...,0,0,0,0,35.0,138.0,183.0,182.0,1.4,0.0
296,0,0,0,1,0,0,1,1,0,0,...,1,1,0,1,35.0,126.0,282.0,156.0,0.0,0.0